<!DOCTYPE html>
<html>
  <head>
    <title>OnlineAssignment</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to "All Tweets", root_url %> |
      <%= link_to "All Followers Tweets", followers_tweets_tweets_url %> |
      <%= link_to "Profile", profile_url(current_user.id) %> | 
      <%= link_to "Edit", edit_user_registration_url %> | 
      <%= link_to "Sign-out", destroy_user_session_url, method: :delete %><br/>
      <%= "logged-in as: #{current_user.name}" %>
    <% end %>
    <%= yield %>
  </body>
</html>
